:root {
    --primary-bg-color: #fafafa;
    --primary-txt-color: #050505;
    --secondary-txt-color: #fafafa;
    --secondary-bg-color: #82071B;
    --primary-border-color: #fafafa;
    --active-btn-bg: #93182c;
    --active-border-color: #c8c8c8;
    --active-txt-color: #c8c8c8;
}

.loginBtn {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    border: 3px solid var(--primary-border-color);
    border-radius: 7px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    padding: 10px 25px;
}

.loginBtn:active {
    border: 3px solid var(--active-border-color);
    color: var(--active-txt-color);
    background-color: var(--active-btn-bg);
}


.loginBox {
    border: 3px solid var(--primary-border-color);
    border-radius: 7px;
    padding: 7px;
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: var(--secondary-bg-color);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm {
    text-align: center;
}

.signUp {
    margin-top: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 7px;
    background-color: var(--primary-bg-color);
    color: var(--secondary-txt-color);
    padding: 5px 10px;
    width: 90px;
    color: var(--secondary-bg-color);

    & a {
        color: var(--secondary-bg-color);
        text-decoration: none;
    }
}

.signUp:active {
    border: 1px solid var(--active-btn-bg);
    background-color: var(--active-txt-color);
    color: var(--active-btn-bg);
}

.loginToAccBtn {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    border: 1px solid var(--primary-border-color);
    border-radius: 7px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    padding: 5px 10px;
    width: 90px;
}

.loginToAccBtn:active {
    border: 3px solid var(--active-border-color);
    color: var(--active-txt-color);
    background-color: var(--active-btn-bg);
}

.hidden {
    display: none;
}

.usernameOutput {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    border: 3px solid var(--primary-border-color);
    border-radius: 7px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    padding: 5px 15px;
}

/* --------- Log Out --------- */
.usernameOutputContainer {
    border: 3px solid var(--primary-border-color);
    border-radius: 7px;
    padding: 7px;
    position: absolute;
    right: 15px;
    top: 20px;
    background-color: var(--secondary-bg-color);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logout {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    border: 1px solid var(--primary-border-color);
    border-radius: 7px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    padding: 5px 10px;
    width: 90px;
}

.usernameOutputContainer.hidden {
    display: none;
}