:root {
    --primary-bg-color: #fafafa;
    --primary-txt-color: #050505;
    --secondary-txt-color: #fafafa;
    --secondary-bg-color: #82071B;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    margin: 0;
    font-family: "Vidaloka", serif;
}

h1,
h2,
h3 {
    font-family: "Amaranth", sans-serif;
}

.page-logo {
    & a {
        color: var(--secondary-txt-color);
        font-family: "Righteous", sans-serif;
        font-size: 25px;
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}

.navigation-bar {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    list-style-type: none;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.list-container {
    color: var(--secondary-txt-color);
    list-style-type: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    display: flex;

    & a {
        color: var(--secondary-txt-color);
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }

    & .list-element {
        margin: 0 25px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    font-family: "Montserrat Alternates", sans-serif;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
    width: 100%;
    text-align: center;

    & a{
        color: var(--secondary-txt-color);
        text-decoration: none;
    }

    & a:hover{
        text-decoration: underline;
    }
}