{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
        <div class="loginContainer">
                <div class="loginBox">
                    <form class="loginForm" method="POST" action="{{ url_for('login') }}">
                        <input type="text" id="username" name="username" placeholder="Username"><br /><br />
                        <input type="password" id="password" name="password" placeholder="Password"><br /><br />
                        <input class="loginToAccBtn" type="submit" value="Login">
                    </form>
                    <button class="signUp">Sign Up</button>
                </div>
            </div>
            <h1>Login</h1>
{% endblock %}